/task/

/python/coparticipacao/faturas/2024/*.pdf
/python/coparticipacao/faturas/2024/faturas_totais/
/python/coparticipacao/faturas/2024/*.csv
/python/coparticipacao/faturas/2024/*.ods


/python/coparticipacao/faturas/2025/*.pdf
/python/coparticipacao/faturas/2025/faturas_totais/
/python/coparticipacao/faturas/2025/*.csv
/python/coparticipacao/faturas/2025/*.ods

.venv

/converter_PDF_XLSX/*.pdf
/converter_PDF_XLSX/*.xlsx
/converter_PDF_XLSX/*.csv
/converter_PDF_XLSX/*.ods
/converter_PDF_XLSX/*.docx


*.ods
*.xlsx
*.csv
*.pdf
*.docx
